.split {
    height: 80%;
    width: 46%;
    z-index: 1;
    position: absolute;
    top: 5rem;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

#encode_button {
    background-color: greenyellow;
    color: black;
    border-radius: 1rem;
    border-color: greenyellow;
    font-size: 1rem;
}